---
import cvJSON from "../data/cv.astro.json"

import { cn } from "../lib/utils"
import GitHubIcon from "../assets/github.svg"
import Separator from "../components/ui/Separator.astro"
import Button, { buttonVariants } from "./ui/Button.astro"

const cv = cvJSON.cv
const githubProfile = cv.social_networks.find((profile) => profile.network === "GitHub")
const githubUrl = `https://github.com/${githubProfile?.username}`
---

<div
  class="from-background via-background/60 fixed bottom-0 left-0 z-[9998] h-32 w-full bg-gradient-to-t to-transparent md:h-24"
>
</div>

<div
  id="floating-nav-container"
  class={cn(
    "bg-card ring-border fixed left-1/2 z-[9999] flex -translate-x-1/2 items-center rounded-full shadow-2xl ring-1",
    "bottom-4 gap-4 px-4 py-1.5 lg:bottom-8 lg:gap-4 lg:px-4 lg:py-1.5",
    "safe-area-bottom"
  )}
>
  <nav id="floating-nav" class="flex items-center gap-0">
    <Button id="homeBtn" variant="ghost" size="default" class="font-mono text-xs sm:text-sm">Home</Button>
    <Button id="projectsBtn" variant="ghost" size="default" class="font-mono text-xs sm:text-sm">Projects</Button>
    <Button id="contactBtn" variant="ghost" size="default" class="font-mono text-xs sm:text-sm">Contact</Button>
  </nav>

  <div class="h-7">
    <Separator orientation="vertical" />
  </div>

  <div class="flex items-center">
    {
      githubProfile && (
        <a
          class={cn(buttonVariants({ variant: "ghost", size: "default" }), "text-xs sm:text-sm")}
          href={githubUrl}
          aria-label="GitHub"
          role="link"
        >
          <GitHubIcon class="size-4" />
        </a>
      )
    }
  </div>
</div>

<style>
  /* Add safe area padding for iOS devices */
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0.5rem);

    @media (max-width: 640px) {
      padding-bottom: max(0.5rem, env(safe-area-inset-bottom));
    }
  }
</style>

<script>
  import { gsap } from "gsap"
  import { ScrollToPlugin } from "gsap/ScrollToPlugin"

  gsap.registerPlugin(ScrollToPlugin)

  document.addEventListener("DOMContentLoaded", () => {
    const homeBtn = document.getElementById("homeBtn") as HTMLButtonElement
    const projectsBtn = document.getElementById("projectsBtn") as HTMLButtonElement
    const contactBtn = document.getElementById("contactBtn") as HTMLButtonElement

    const nav = document.getElementById("floating-nav")
    const getOffsetY = () => (nav ? nav.offsetHeight + 20 : 120) // height of nav element in pixels

    const scrollToTarget = (target: string) => {
      gsap.to(window, {
        duration: 1,
        scrollTo: { y: target, offsetY: getOffsetY() },
        ease: "power2.inOut",
      })
    }

    homeBtn.addEventListener("click", () => scrollToTarget("#home"))
    projectsBtn.addEventListener("click", () => scrollToTarget("#projects"))
    contactBtn.addEventListener("click", () => scrollToTarget("#contact"))
  })
</script>
