---
import ArrowRightIcon from "../assets/arrow-right.svg"
import HlIcon from "../assets/hl.svg"
---

<div class="text-muted-foreground mb-4 flex flex-wrap items-center gap-6 text-lg font-semibold">
  <p class="font-mono">Concept</p>
  <div style="aspect-ratio: 1.8;">
    <ArrowRightIcon />
  </div>
  <p class="font-mono">Craft</p>
  <div style="aspect-ratio: 1.8;">
    <ArrowRightIcon />
  </div>
  <div class="relative">
    <p class="text-chart-2 font-mono font-semibold">Deploy</p>
    <div class="text-chart-2 absolute top-1/2 left-full w-8 -translate-y-1/2">
      <div style="aspect-ratio: 0.92;">
        <HlIcon class="size-8 -rotate-24 opacity-70" />
      </div>
    </div>
  </div>
</div>